<div>
  <form action="/objectives" method="post">
    <input type="text" name="new_objective" class="pas w-100" placeholder="Add an objective?" />
    <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
  </form>
</div>

<ul>
  <% @user.objectives.each do |o| %>
    <li><%= o.text %>
    <ul>
      <% o.requirements.each do |r| %>
        <li><%= r.text %></li>
      <% end %>

      <form action="/requirements" method="post" class="mbm">
        <li><input type="text" name="new_requirement" class="pas w-100" placeholder="Add another requirement?" /></li>
        <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
        <input name="objective_id" value="<%= o.id %>" type="hidden" />
      </form>
    </ul>
    </li>
  <% end %>
</ul>
