<div class="mvl mhs">
  <h1>Yo <%= @user.name.capitalize %>.</h1>
  <h2>You have 100 days to finish the following objectives.</h2>
</div>

<ul>
  <% @user.objectives.each do |o| %>
    <li><%= o.text %>
    <ul>
      <% o.requirements.each do |r| %>
        <li><%= r.text %></li>
      <% end %>
    </ul>

    <div class="mts mbl">
      <form action="/requirements" method="post" class="mbm">
        <div class="dtc w-100">
          <input type="text" name="new_requirement" class="pas w-100 input-text" placeholder="Add a requirement?" />
        </div>
        <div class="dtc">
          <button class="mhs pas" type="submit">Add</button>
        </div>
        <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
        <input name="objective_id" value="<%= o.id %>" type="hidden" />
      </form>
    </div>
    </li>
  <% end %>
</ul>

<div class="dt">
  <h2>Add a new Objective.</h2>

  <form action="/objectives" method="post">
    <div class="w-100">
      <input type="text" name="new_objective" class="pas w-100 input-text" placeholder="Add an objective?" />
    </div>

    <div class="w-100">
      <div class="dtc">
        <input type="text" name="duedate" class="pas w-100" placeholder="Due Date?" />
      </div>
      <div class="dtc">
        <button class="mhs pas" type="submit">Add</button>
      </div>
    </div>
    <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
  </form>
</div>
