<div class="mvl mhs">
  <h1>Yo <%= @user.name.capitalize %>.</h1>
  <h2>You have 100 days to finish the following objectives.</h2>
</div>

<div class="">
  <form action="/objectives" method="post">
    <div class="dtc w-100">
      <input type="text" name="new_objective" class="pas w-100" placeholder="Add an objective?" />
    </div>
    <div class="dtc">
      <button class="mhs pas" type="submit">Add</button>
    </div>
    <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
  </form>
</div>

<ul>
  <% @user.objectives.each do |o| %>
    <li><%= o.text %>
    <ul>
      <% o.requirements.each do |r| %>
        <li><%= r.text %></li>
      <% end %>

      <form action="/requirements" method="post" class="mbm">
        <li>
        <div class="di">
          <div class="dtc w-100">
            <input type="text" name="new_requirement" class="pas w-100" placeholder="Add another requirement?" />
          </div>
          <div class="dtc">
            <button class="mhs pas" type="submit">Add</button>
          </div>
        </div>
        </li>
        <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
        <input name="objective_id" value="<%= o.id %>" type="hidden" />
      </form>
    </ul>
    </li>
  <% end %>
</ul>
