<div class="mvl mhs">
  <h1>Yo <%= @user.name.capitalize %>.</h1>
  <% if @user.objectives.where.not(end: nil).order(:end).first.end %>
    <h2>You have <%= @user.objectives.order(end: :desc).first.end %> days to finish the following objectives.</h2>
  <% else %>
    <h2>Upcomming objectives.</h2>
  <% end %>
</div>

<ul>
  <% @user.current_objectives.each do |o| %>
    <li><%= o.text %> <span class="grey small">(<%= o.end %>)</span>
    <ul>
      <% o.requirements.each do |r| %>
        <li><%= r.text %></li>
      <% end %>
    </ul>

    <div class="mts mbl">
      <form action="/requirements" method="post" class="mbm">
        <div class="dtc w-100">
          <input type="text" name="new_requirement" class="pas w-100 input-text" placeholder="Add a requirement?" />
        </div>
        <div class="dtc">
          <button class="mhs pas" type="submit">Add</button>
        </div>
        <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
        <input name="objective_id" value="<%= o.id %>" type="hidden" />
      </form>
    </div>
    </li>
  <% end %>
</ul>

<div class="dt">
  <h2>Add a new Objective.</h2>

  <form action="/objectives" method="post">
    <div class="w-100">
      <input type="text" name="new_objective" class="pas w-100 input-text" placeholder="Objective text" />
    </div>

    <div class="w-100 mvm">
      <ul class="sentence">
        Suggested due dates: 
        <% @dates.each do |d| %>
          <li><a class="due-date cp"><%= d.strftime "%F" %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="w-100 mvm">
      <div class="dtc">
        <input type="text" name="duedate" class="pas w-100 input-text" placeholder="Due Date?" />
      </div>
      <div class="dtc">
        <button class="mhs pas" type="submit">Add</button>
      </div>
    </div>
    <input name="_csrf" value="<%= session[:csrf] %>" type="hidden" />
  </form>
</div>
